<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="The Manchester Universities Technical Theatre Society. We involve students in technology behind the scenes of Theatre and Live Events and support 40+ events a year around Manchester Universities.">
        <meta name="author" content="James Phillips">
        <link rel="icon" href="favicon.ico">

        <title>{% if title is defined %}{{ title }} &bull; {% endif %}MUTTS</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/site.css" rel="stylesheet">
        {% if title == 'Previous Work' %}
            <link href="css/ekko-lightbox.min.css" rel="stylesheet">
        {% endif %}
        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-106003267-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=168111317085611";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="./" style=" margin-top: 4px;"><img src="img/logo.svg" style="height: 40px;"> <strong>MUTTS</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if title == 'Home' %}active{% endif %}">
                        <a class="nav-link" href="./">Home</a>
                    </li>
                    <li class="nav-item {% if title == 'About' %}active{% endif %}">
                        <a class="nav-link" href="./about">About</a>
                    </li>
                    <li class="nav-item {% if title == 'Get Involved' %}active{% endif %}">
                        <a class="nav-link" href="./getinvolved">Get Involved</a>
                    </li>
                    <li class="nav-item {% if title == 'Work With Us' %}active{% endif %}">
                        <a class="nav-link" href="./workwithus">Work With Us</a>
                    </li>
                    <li class="nav-item {% if title == 'Previous Work' %}active{% endif %}">
                        <a class="nav-link" href="./previouswork">Previous Work</a>
                    </li>
                    <li class="nav-item {% if title == 'Committee' %}active{% endif %}">
                        <a class="nav-link" href="./committee">Committee</a>
                    </li>
                    <li class="nav-item {% if title == 'Directions' %}active{% endif %}">
                        <a class="nav-link" href="./directions">Directions</a>
                    </li>
                    <!--<li class="nav-item {% if title == 'Crew Wiki' %}active{% endif %}">
                        <a class="nav-link" href="./wiki" target="_blank">Members Wiki</a>
                    </li>-->
                </ul>
            </div>
        </nav>
        
        {% if title == 'Home' %}
            {% include 'carousel.html.twig' %}
        {% endif %}
        
        {% if message is defined %}
            <div class="container">
                <div class="alert {% if messageClass is defined %}alert-{{ messageClass }}{% endif %}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endif %}
        
        {% block body %}{% endblock %}

        <div class="container">
            <hr>
            <footer>
                <p class="float-left">
                    &copy; {{ "now"|date("Y") }} MUTTS. Site hosted by Compsoc Manchester
                    <br>
                    Contact: <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>
                </p>
            </footer>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        {% if title == 'Previous Work' %}
        <script src="js/ekko-lightbox.min.js"></script>
        <script>
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });    
        </script>
        {% endif %}
    </body>
</html>