<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="img/carousel/1.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Manchester Universities Technical Theatre Society</h1>
                    <p>We provide amazing student-led production for a variety of events across the academic year.</p>
                    <p><a class="btn btn-lg btn-primary" href="./about" role="button">Learn more about us</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="second-slide" src="img/carousel/2.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Get involved behind the scenes</h1>
                    <p>All you need is enthusiasm! We provide all the training you need to get involved with our events and use our equipment.</p>
                    <p><a class="btn btn-lg btn-primary" href="./getinvolved" role="button">Find out more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="img/carousel/3.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Work with us</h1>
                    <p>Our experience and vast range of equipment are the perfect combination for supporting student events.</p>
                    <p><a class="btn btn-lg btn-primary" href="./workwithus" role="button">Take a look</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>